<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>

  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Document Store </title>
      <meta name="viewport" content="width=device-width">
      <meta name="title" content="Document Store ">
    
      <link rel="shortcut icon" href="../../../favicon.ico">
      <link rel="stylesheet" href="../../../styles/docfx.vendor.min.css">
      <link rel="stylesheet" href="../../../styles/docfx.css">
      <link rel="stylesheet" href="../../../styles/main.css">
      <meta property="docfx:navrel" content="../../../toc.html">
      <meta property="docfx:tocrel" content="../../toc.html">
    
    
    
  </head>
  <body data-spy="scroll" data-target="#affix" data-offset="120">
    <div id="wrapper" class="ra-royalserver">
      <header>

        <nav id="autocollapse" class="navbar navbar-inverse ng-scope" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="https://www.royalapps.com/?return_to_last_selected_page">
                <img id="logo" class="svg" src="../../../logo.svg" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
              <form class="navbar-form navbar-right" role="search" id="search">
                <div class="form-group">
                  <input type="text" class="form-control" id="search-query" placeholder="Search" autocomplete="off">
                </div>
              </form>
            </div>
          </div>
        </nav>

        <div class="subnav navbar navbar-default">
          <div class="container hide-when-search" id="breadcrumb">
            <ul class="breadcrumb">
              <li></li>
            </ul>
          </div>
        </div>
      </header>
      <div role="main" class="container body-content hide-when-search">

        <div class="sidenav hide-when-search">
          <a class="btn toc-toggle collapse" data-toggle="collapse" href="#sidetoggle" aria-expanded="false" aria-controls="sidetoggle">Show / Hide Table of Contents</a>
          <div class="sidetoggle collapse" id="sidetoggle">
            <div id="sidetoc"></div>
          </div>
        </div>
        <div class="article row grid-right">
          <div class="col-md-10">
            <article class="content wrap" id="_content" data-uid="royalserver_components_document-store">

<img src="/r2023/images/RoyalServer/Svg/SVG_DocumentStore_32.svg" class="icon-left icon-lg" alt="">
<h1 id="document-store">Document Store</h1>
<p>The Document Store is a component in Royal Server that enables the user to securely load and save Royal Documents directly from Royal Server - no more shared files needed. To work with Documents hosted by Royal Server, you need to use Royal TS/X.</p>
<h2 id="settings">Settings</h2>
<p>If enabled, Royal Server hosts Documents for Royal TS/X clients. You can</p>
<ul>
<li>Specify the Documents Folder (this is where the Documents and backups will be stored),</li>
<li>Specify the number of backups (each change in the file triggers a backup) and</li>
<li>Specify if Access Rules are enabled</li>
</ul>
<p><strong>Access Rules</strong></p>
<p>Additionally to the restricted access via the permissions, hosted documents can have Access Rules defined. For a give group or user you can specify Read or Modify rights for each document separately.</p>
<p>More information about the Access Rules and how they can be configured can be found <a class="xref" href="documents.html">here</a>.</p>
<h2 id="accessing-documents-from-the-document-store">Accessing Documents from the Document Store</h2>
<p>In order to access documents, you first need to complete the following <strong>steps in Royal TS/X</strong>:</p>
<ol>
<li><a class="xref" href="documents.html">Add documents to Royal Server</a> that should be hosted.</li>
<li>Configure a Royal Server object in any open document in Royal TS/X. Specify the IP/Name, port and credentials. Save the document.</li>
<li>Click on <strong>File</strong> in the Ribbon and then <strong>Open</strong>, Select the Royal Server you want to connect to. You will be presented with a list of Documents of Royal Server</li>
</ol>
<div class="NOTE">
<h5>Note</h5>
<p>Any user that wants to load or save with the Document Store needs to be a member of the <code>Royal Server Users</code> group.
Create, import or delete a document requires the user to be member of the <code>Royal Server Administrators</code> group. If done via the Configuration Tool, the Worker Account is used for these operations.</p>
</div>
</article>
          </div>

          <div class="hidden-sm col-md-2" role="complementary">
            <div class="sideaffix">
              <div class="form p-e2">
                <div class="form-group">
                  <label for="version-select">Version</label>
                  <select id="version-select" class="form-control">
                    <option value="r2023">Royal TS V7 / Royal Server V5</option>
                    <option value="r2021">Royal TS V6 / Royal Server V4</option>
                  </select>
                </div>
              </div>    
              <div class="contribution">
                <ul class="nav">
                  <li>
                    <a href="https://github.com/royalapplications/docs/blob/main/src/r2023/royalserver/components/document-store/index.md/#L1" class="contribution-link">Improve this Doc</a>
                  </li>
                </ul>
              </div>
              <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="affix">
                <h5>In This Article</h5>
                <div></div>
              </nav>    
            </div>
  
          </div>
        </div>
      </div>

      <footer>
        <div class="grad-bottom"></div>
        <div class="footer">
          <div class="container">
            <span class="pull-right">
              <a href="#top">Back to top</a>
            </span>
            <a rel="me" href="https://dotnet.social/@royalapps">&nbsp;</a>
      
      <span>Copyright © <strong>Royal Apps</strong></span>
          </div>
        </div>
      </footer>
    </div>

    <script type="text/javascript" src="../../../styles/docfx.vendor.min.js"></script>
    <script type="text/javascript" src="../../../styles/docfx.js"></script>
    <script type="text/javascript" src="../../../styles/ra.vendor.js"></script>
    <script type="text/javascript" src="../../../styles/main.js"></script>
  </body>
</html>
